{{if .IsLoged}}
{{$name:=.User.PersonName}}
<form method="post" action="/dash/profile/name">
    <table>
        <thead>
        <tr>
            <th>Profile Names</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><label for="first-name">First Name</label> </td>
            <td>
                <input id="first-name" name="given_name" type="text" value="{{$name.GivenName}}">
            </td>
        </tr>
        <tr>
            <td><label for="given-name">Middle Name</label> </td>
            <td>
                <input id="given-name" name="middle_name" type="text" value="{{$name.MiddleName}}">
            </td>
        </tr>
        <tr>
            <td><label for="family-name">Family Name</label> </td>
            <td>
                <input id="family-name" name="family_name" type="text" value="{{$name.FamilyName}}">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Save</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

{{end}}