<form method="post" action="/dash/jobs/new">
    <table>
        <thead>
        <th>
            Create a new job
        </th>
        </thead>
        <tbody>
        <input id="token" type="hidden" name="csrf_token" value="{{ .CsrfToken }}">
        {{with .JobForm}}
        {{range $i, $field := .Fields}}
        <tr>
            <td>
                <label>{{label $field.GetName}}</label>
            </td>
            <td>
                {{plain $field.Html}}
                <div>
                    {{range $ei, $err := $field.Errors}}
                    <label class="flash-error">{{$err}}</label>
                    {{end}}
                </div>
            </td>
        </tr>
        {{end}}
        {{end}}
        <tr>
            <td>
                <button type="submit" class="btn btn-primary">create job</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>