<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="csrf_token" content="{{.CsrfToken}}" /> {{with .PageTitle}}
    <title>{{.}}</title>
    {{else}}
    <title>{{.AppName}}</title>
    {{end}}
    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link rel="stylesheet" href="/static/css/ui.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
</head>

<body>
    <div class="ui large top  menu">
        <div class="ui container">
            <a class="item" href="/">{{tr .ActiveLang "home-btn"}}</a>
            <a class="item" href="/jobs/">{{tr .ActiveLang "jobs-btn"}}</a>
            <a class="item">Github</a>
            <a class="item" href="/docs/">{{tr .ActiveLang "help-btn"}}</a>
            <div class="right menu">
                {{if .IsLoged}}
                <a class="item" href="/dash/">{{tr .ActiveLang "dashboard"}}</a>
                <a class="item" href="/auth/logout">{{tr .ActiveLang "logout"}}</a> {{else}}
                <a class="item" href="/auth/login">{{tr .ActiveLang "login"}}</a>
                <a class="item" href="/auth/register">{{tr .ActiveLang "register"}}</a> {{end}}
            </div>
        </div>
    </div>
    {{if .Flash}} {{template "partials/flash.html" .}} {{end}}