{{$owner :=owner .}}
<div class="eight wide column">
    <div class=" ui segments">
        <div class="ui segment">
            {{if .ID}}
            <div class="ui container">
                <div class="ui middle aligned grid">
                    <div class="row">
                        <div class="ui eight wide column">
                             <a href="/jobs/view/{{.ID}}">  {{username $owner.PersonName.Name}} </a>
                        </div>
                        <div class="ui eight wide column">
                            <div class="ui segmant">
                                <a href="/jobs/view/{{.ID}}" class="positive fluid ui button">  Apply</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {{end}}
        </div>
        <div class="ui center aligned segment">
            {{if .Title}} {{.Title}} {{end}}
        </div>
    </div>
</div>