{{template "partials/header.html" .}}
{{$lang:=.ActiveLang}}
<div class="jobs-home">
    {{with .Job}}
    <div class="job-item">
        <table>
            <thead>
            <tr>
                <th colspan="3">
                    <a href="/jobs/view/{{.ID}}" class="flex-title">{{.Title}}</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>{{tr $lang "deadline"}} </th>
                <td colspan="2">{{.Deadline|date}}</td>
            </tr>
            <tr>
                <th>{{tr $lang "issued_by"}} </th>
                <td colspan="2">
                    <a href="#" > magento inc</a>
                </td>

            </tr>
            <tr>
                <td>
                    <button  type="button">{{tr $lang "apply-btn"}}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    {{end}}
</div>
{{template "partials/footer.html" .}}