@charset "UTF-8";
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/*!
 *
 * Color Me SASS v1.0
 * Built and Designed by Richard Bray
 *
 */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.flash-error, .flash-success {
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }

.flash-error {
  background: #FBE3E4;
  color: #96151b; }
  .flash-error a {
    color: #6a0f13; }
    .flash-error a:hover {
      color: #110203; }

.flash-success {
  background: #E6EFC2;
  color: #56651a; }
  .flash-success a {
    color: #333c10; }
    .flash-success a:hover {
      color: black; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fcbaff;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

.site {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .site:after {
    content: "";
    display: table;
    clear: both; }
  .site .section {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .site .section:last-child {
      margin-right: 0; }
    .site .section .doc-section {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      padding: 80px 0 0 0; }
      .site .section .doc-section:last-child {
        margin-right: 0; }
      @media screen and (min-width: 53.75em) {
        .site .section .doc-section {
          padding: 5px 0 0 0;
          margin: 2.35765%; } }
      @media screen and (min-width: 53.75em) {
        .site .section .doc-section {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%; }
          .site .section .doc-section:last-child {
            margin-right: 0; } }

.dash-jobs-new {
  padding: 80px 0 0 0; }
  @media screen and (min-width: 53.75em) {
    .dash-jobs-new {
      padding: 5px 0 0 0;
      margin: 2.35765%; } }

.dash-home {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 80px 0 0 0; }
  .dash-home:last-child {
    margin-right: 0; }
  @media screen and (min-width: 53.75em) {
    .dash-home {
      padding: 5px 0 0 0;
      margin: 2.35765%; } }
  @media screen and (min-width: 53.75em) {
    .dash-home {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .dash-home:last-child {
        margin-right: 0; } }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

thead {
  border-bottom: 1px solid #b7b7b7; }

td {
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

.table-minimal {
  border-collapse: separate;
  border-spacing: 0; }
  .table-minimal tbody tr:hover > td, .table-minimal tbody tr:hover > th {
    background-color: #fcb0ff; }
  .table-minimal tbody tr:first-child td {
    border-top: 2px solid #DDD; }
  .table-minimal thead th {
    background-color: #feedff;
    padding: 0.5em;
    border-bottom: 0px; }
  .table-minimal tbody {
    background-color: #fcbaff; }
    .table-minimal tbody td {
      padding: 0.5em;
      border-top: 1px solid #DDD;
      border-bottom: 0px; }
      .table-minimal tbody td button {
        border: 1px solid #f973ff;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 white;
        color: #333333;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        background-color: #fcbaff;
        background-image: -webkit-linear-gradient(#fcbaff, #fa82ff);
        background-image: linear-gradient(#fcbaff, #fa82ff);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 #fdceff;
        background-clip: padding-box;
        margin-right: 0.5em;
        display: inline-block;
        width: 100%;
        margin-bottom: .3em;
        outline: none; }
        .table-minimal tbody td button:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 #fcd5fd;
          cursor: pointer;
          background-color: #f9a2fd;
          background-image: -webkit-linear-gradient(#f9a2fd, #f973ff);
          background-image: linear-gradient(#f9a2fd, #f973ff); }
        .table-minimal tbody td button:active:not(:disabled), .table-minimal tbody td button:focus:not(:disabled) {
          border: 1px solid #f973ff;
          box-shadow: inset 0 0 8px 4px #f863ff, inset 0 0 8px 4px #f863ff; }
        .table-minimal tbody td button:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
        @media screen and (min-width: 40em) {
          .table-minimal tbody td button {
            width: auto;
            margin-bottom: 0; } }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

header.navigation {
  background-color: #fcbaff;
  border-bottom: 1px solid #fa87ff;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  height: 60px;
  width: 100%;
  z-index: 999; }
  header.navigation .menu-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    header.navigation .menu-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    header.navigation .menu-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 60px;
      padding: .8em 0; }
    header.navigation .logo .logo-text {
      display: block;
      padding: .8em 0;
      font-weight: 700;
      text-transform: uppercase; }
  header.navigation .navigation-menu-button {
    color: black;
    cursor: pointer;
    display: block;
    float: right;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:hover {
      color: #477DCA; }
  header.navigation .nav {
    z-index: 9999999;
    float: none; }
    @media screen and (min-width: 53.75em) {
      header.navigation .nav {
        float: left; } }
  header.navigation ul#navigation-menu {
    clear: both;
    -webkit-transform-style: preserve-3d;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul#navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li {
    background: #fcbaff;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li a {
      font-weight: 400;
      display: inline-block;
      color: black; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul li a {
          padding-right: 1em; } }
      header.navigation ul li a:hover {
        color: #477DCA; }
  header.navigation .active-nav-item a {
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  header.navigation li.more {
    padding-right: 0; }
    header.navigation li.more:hover .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more {
        position: relative;
        padding-right: .8em; } }
  header.navigation li.more a {
    padding-right: .8em; }
  header.navigation .submenu {
    display: none; }
    @media screen and (min-width: 53.75em) {
      header.navigation .submenu {
        position: absolute;
        top: 1em;
        left: -1em; } }
    header.navigation .submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        header.navigation .submenu li {
          line-height: 46.15385px; }
          header.navigation .submenu li:first-child a {
            padding-top: 1em; }
          header.navigation .submenu li:last-child a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: .7em; } }
      header.navigation .submenu li a {
        text-align: right;
        background-color: #fbabff;
        width: 100%;
        display: inline-block; }
        @media screen and (min-width: 53.75em) {
          header.navigation .submenu li a {
            width: 12em;
            background-color: #fcbaff;
            text-align: left;
            padding-left: 1em; } }
  header.navigation .navigation-tools {
    display: block;
    padding-right: 1em;
    padding-left: 0.5em;
    clear: both;
    background: #fcbaff; }
    header.navigation .navigation-tools:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-tools {
        background: transparent;
        float: right;
        clear: none; } }
  header.navigation a.sign-up {
    margin-top: 13px;
    margin-left: 4px;
    float: right;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline;
    background: #477DCA;
    border-radius: 3px;
    color: white;
    font-size: .8em;
    font-weight: 800;
    text-transform: uppercase;
    padding: .4em .5em; }
    @media screen and (min-width: 53.75em) {
      header.navigation a.sign-up {
        padding: .4em 1em; } }
    header.navigation a.sign-up:hover {
      background: #6f99d5; }
  header.navigation .search-bar {
    padding: 13px 5px;
    float: left; }
    header.navigation .search-bar .search-and-submit {
      position: relative; }
      header.navigation .search-bar .search-and-submit input[type=search] {
        background: white;
        border: 1px solid #fba1ff;
        padding: .6em .8em;
        font-size: .9em;
        font-style: italic;
        color: black;
        border-radius: 6px;
        margin: 0; }
      header.navigation .search-bar .search-and-submit button[type=submit] {
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 white;
        color: #333333;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        background-color: white;
        background-image: -webkit-linear-gradient(white, #e3e3e3);
        background-image: linear-gradient(white, #e3e3e3);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 white;
        background-clip: padding-box;
        border: 1px solid #dfd8d8;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 white;
        color: #333333;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        background-color: white;
        background-image: -webkit-linear-gradient(white, #e5e0e0);
        background-image: linear-gradient(white, #e5e0e0);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 white;
        background-clip: padding-box;
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 15px; }
        header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 white;
          cursor: pointer;
          background-color: #f2f2f2;
          background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
          background-image: linear-gradient(#f2f2f2, #dbdbdb); }
        header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
          border: 1px solid #dbdbdb;
          box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4; }
        header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 white;
          cursor: pointer;
          background-color: #f2f2f2;
          background-image: -webkit-linear-gradient(#f2f2f2, #ded8d8);
          background-image: linear-gradient(#f2f2f2, #ded8d8); }
        header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
          border: 1px solid #dfd8d8;
          box-shadow: inset 0 0 8px 4px #d7d1d1, inset 0 0 8px 4px #d7d1d1; }
        header.navigation .search-bar .search-and-submit button[type=submit]:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
        header.navigation .search-bar .search-and-submit button[type=submit] img {
          height: 12px;
          opacity: .7; }
    @media screen and (min-width: 53.75em) {
      header.navigation .search-bar {
        width: 16em;
        position: relative;
        display: inline-block; }
        header.navigation .search-bar input {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block; } }

.job-list {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: both;
  text-align: center;
  margin-top: 25px;
  padding-top: 25px; }
  .job-list:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 53.75em) {
    .job-list {
      padding-top: 5px;
      margin-top: 5px; } }
  .job-list .job-item {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-flex: 2 3 20em;
    -moz-flex: 2 3 20em;
    -ms-flex: 2 3 20em;
    flex: 2 3 20em;
    -webkit-align-self: stretch;
    -moz-align-self: stretch;
    align-self: stretch;
    -ms-flex-item-align: stretch;
    background: #f7f7f7;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #DDD, 0 2px 4px #fa87ff;
    display: block;
    margin: 0.4em;
    padding: 2em 2em 3em 2em;
    text-decoration: none; }
    .job-list .job-item:nth-child(1) {
      border-top: 6px solid #049cdb;
      background-color: rgba(4, 156, 219, 0.1); }
      .job-list .job-item:nth-child(1):focus, .job-list .job-item:nth-child(1):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(2) {
      border-top: 6px solid #0064cd;
      background-color: rgba(0, 100, 205, 0.1); }
      .job-list .job-item:nth-child(2):focus, .job-list .job-item:nth-child(2):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(3) {
      border-top: 6px solid #46a546;
      background-color: rgba(70, 165, 70, 0.1); }
      .job-list .job-item:nth-child(3):focus, .job-list .job-item:nth-child(3):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(4) {
      border-top: 6px solid #9d261d;
      background-color: rgba(157, 38, 29, 0.1); }
      .job-list .job-item:nth-child(4):focus, .job-list .job-item:nth-child(4):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(5) {
      border-top: 6px solid #ffc40d;
      background-color: rgba(255, 196, 13, 0.1); }
      .job-list .job-item:nth-child(5):focus, .job-list .job-item:nth-child(5):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(6) {
      border-top: 6px solid #f89406;
      background-color: rgba(248, 148, 6, 0.1); }
      .job-list .job-item:nth-child(6):focus, .job-list .job-item:nth-child(6):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(7) {
      border-top: 6px solid #c3325f;
      background-color: rgba(195, 50, 95, 0.1); }
      .job-list .job-item:nth-child(7):focus, .job-list .job-item:nth-child(7):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(8) {
      border-top: 6px solid #7a43b6;
      background-color: rgba(122, 67, 182, 0.1); }
      .job-list .job-item:nth-child(8):focus, .job-list .job-item:nth-child(8):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(9) {
      border-top: 6px solid #08c;
      background-color: rgba(0, 136, 204, 0.1); }
      .job-list .job-item:nth-child(9):focus, .job-list .job-item:nth-child(9):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(10) {
      border-top: 6px solid #5bc0de;
      background-color: rgba(91, 192, 222, 0.1); }
      .job-list .job-item:nth-child(10):focus, .job-list .job-item:nth-child(10):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(11) {
      border-top: 6px solid #2f96b4;
      background-color: rgba(47, 150, 180, 0.1); }
      .job-list .job-item:nth-child(11):focus, .job-list .job-item:nth-child(11):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(12) {
      border-top: 6px solid #62c462;
      background-color: rgba(98, 196, 98, 0.1); }
      .job-list .job-item:nth-child(12):focus, .job-list .job-item:nth-child(12):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(13) {
      border-top: 6px solid #51a351;
      background-color: rgba(81, 163, 81, 0.1); }
      .job-list .job-item:nth-child(13):focus, .job-list .job-item:nth-child(13):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(14) {
      border-top: 6px solid #ee5f5b;
      background-color: rgba(238, 95, 91, 0.1); }
      .job-list .job-item:nth-child(14):focus, .job-list .job-item:nth-child(14):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(15) {
      border-top: 6px solid #bd362f;
      background-color: rgba(189, 54, 47, 0.1); }
      .job-list .job-item:nth-child(15):focus, .job-list .job-item:nth-child(15):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(16) {
      border-top: 6px solid #444;
      background-color: rgba(68, 68, 68, 0.1); }
      .job-list .job-item:nth-child(16):focus, .job-list .job-item:nth-child(16):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(17) {
      border-top: 6px solid #ccc;
      background-color: rgba(204, 204, 204, 0.1); }
      .job-list .job-item:nth-child(17):focus, .job-list .job-item:nth-child(17):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(18) {
      border-top: 6px solid #e5e5e5;
      background-color: rgba(229, 229, 229, 0.1); }
      .job-list .job-item:nth-child(18):focus, .job-list .job-item:nth-child(18):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(19) {
      border-top: 6px solid #777;
      background-color: rgba(119, 119, 119, 0.1); }
      .job-list .job-item:nth-child(19):focus, .job-list .job-item:nth-child(19):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(20) {
      border-top: 6px solid #111111;
      background-color: rgba(17, 17, 17, 0.1); }
      .job-list .job-item:nth-child(20):focus, .job-list .job-item:nth-child(20):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(21) {
      border-top: 6px solid #222222;
      background-color: rgba(34, 34, 34, 0.1); }
      .job-list .job-item:nth-child(21):focus, .job-list .job-item:nth-child(21):hover {
        background-color: #f7f7f7; }
    .job-list .job-item:nth-child(22) {
      border-top: 6px solid #252525;
      background-color: rgba(37, 37, 37, 0.1); }
      .job-list .job-item:nth-child(22):focus, .job-list .job-item:nth-child(22):hover {
        background-color: #f7f7f7; }
    .job-list .job-item img {
      display: block;
      height: 3em;
      margin-bottom: 2em;
      margin: auto;
      opacity: 0.4; }
    .job-list .job-item .flex-title {
      color: black;
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 0.5em; }
    .job-list .job-item p {
      color: rgba(51, 51, 51, 0.6);
      line-height: 1.5em;
      margin: auto; }
  .job-list .flex-box-big {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 40em;
    -moz-flex: 1 1 40em;
    -ms-flex: 1 1 40em;
    flex: 1 1 40em; }

.flash-messages {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .flash-messages:after {
    content: "";
    display: table;
    clear: both; }
  .flash-messages:last-child {
    margin-right: 0; }

.flash {
  padding: 15px;
  border-radius: 3px; }
  .flash + .flash {
    margin-top: 5px; }

.flash-title {
  margin-top: 0;
  margin-bottom: 5px; }

/*# sourceMappingURL=ui.css.map */
