{{template "partials/common_header.html" .}}
<div class=" ui container">
    <div class="ui grid">
        <div class="row">
            <div class=" ui eight wide column">
                <div class="ui segments">
                    <div class="ui segment">
                        {{if .Job}}
                        <h2>{{.Job.Title}}</h2>
                        {{end}} {{if .Owner}} {{if eq .Owner.ID .Job.PersonID}}
                        <div class="ui icon buttons">
                            <a class="ui labelled button" href="/jobs/update/{{.Job.ID}}"><i class="edit icon"></i>
                                update
                            </a>
                            <a class="ui red labelled button" href="/jobs/delete/{{.Job.ID}}"><i class="edit icon"></i>
                                remove
                            </a>
                        </div>
                    </div>
                    <div class="ui segment">
                        {{if .Job}} {{md .Job.Description}} {{end}}
                    </div>

                </div>
                <div class="ui four wide column">
                    <div class=" ui right dividing rail">
                        <div class="ui segmant">
                            <button class="positive fluid ui button">Apply</button>
                        </div>
                        <div class="ui segment">
                            {{if .Owner}} by <a href="/u/{{.Owner.PersonName.Name}}">{{username .Owner.PersonName.Name}}</a>                            {{end}}
                        </div>
                        <div class=" ui segment">
                            {{with jobStats .Job.ID}} {{template "partials/job_stats.html" .}} {{end}} {{end}} {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "partials/footer.html" .}}