{{template "partials/common_header.html" .}}
<div class=" ui container">
    <div class=" ui middle aligned center aligned grid">
        <div class=" login-form">
            <h2>
                <div class=" content">{{tr .ActiveLang "login_form_title"}}</div>
            </h2>
            <form method="post" class="ui large form">
                <input id="token" type="hidden" name="csrf_token" value="{{ .CsrfToken }}"> {{.form.Login}}
            </form>
        </div>
    </div>
</div>
{{template "partials/footer.html" .}}