{{template "partials/common_header.html" .}}
<div class=" ui middle aligned center aligned grid">
    <div class=" register-form">
        <h2>
            <div class=" content">{{tr .ActiveLang "register_form_title"}}</div>
        </h2>
        <form method="post" class="ui large form">
            <input id="token" type="hidden" name="csrf_token" value="{{ .CsrfToken }}"> 
            <div class="field">
                <label> {{tr .ActiveLang "username"}} </label>
                <input type="text" name="username" placeholder="{{tr .ActiveLang "username"}}">
            </div>
            <div class="field">
                <label> {{tr .ActiveLang "email"}} </label>
                <input type="text" name="email" placeholder="{{tr .ActiveLang "email"}}">
            </div>
            <div class="field">
                <label> {{tr .ActiveLang "password"}}</label>
                <input type="password" name="password" placeholder="{{tr .ActiveLang "password"}}">
            </div>
            <div class="field">
                <label> {{tr .ActiveLang "confirm_password"}}</label>
                <input type="password" name="confirm_password" placeholder="{{tr .ActiveLang "confirm_password"}}">
            </div>
            <button class="ui fluid large submit button"> {{tr .ActiveLang "register"}}</button>
        </form>
    </div>
</div>
{{template "partials/footer.html" .}}